<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.airy.v2plus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
            android:name=".App"
            android:allowBackup="false"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="${APP_NAME}"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning"
            tools:replace="android:label">
        <activity
                android:name=".ui.launch.LaunchActivity"
                android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--            <meta-data-->
            <!--                    android:name="android.app.shortcuts"-->
            <!--                    android:resource="@xml/shortcuts" />-->
        </activity>
        <activity
                android:name=".service.ServiceActivity"
                android:theme="@style/AppTheme.Transparent" />

        <activity android:name=".ui.node.NodeActivity" />

        <activity android:name=".ui.hot_or_latest.HotOrLatestActivity" />

        <activity android:name=".ui.topic.TopicDetailActivity" />

        <activity android:name=".ui.about.AboutActivity" />

        <activity android:name=".ui.login.LoginActivity" />

        <activity android:name=".ui.main.MainActivity" />

        <activity
                android:name=".ui.settings.SettingsActivity"
                android:label="@string/title_activity_settings" />

        <provider
                android:name=".provider.ImageViewerProvider"
                android:authorities="${applicationId}.viewer"
                android:exported="false"
                android:grantUriPermissions="true" />

        <service
                android:name=".service.RedeemService"
                android:exported="false" />
    </application>
</manifest>